<div class="container">
  <div class="site-panel">
    <div>
      <h1>User</h1>
      <h2><div class="label label-primary"><%= @users_count %></div></h2>
    </div>
    <div>
      <h1>Post</h1>
      <h2><div class="label label-primary"><%= @posts_count %></div></h2>
    </div>
    <div>
      <h1>Comment</h1>
      <h2><div class="label label-primary"><%= @replies_count %></div></h2>
    </div>    
  </div>
  <dir class="rank-panel">
    <div class="panel panel-primary">
      <div class="panel-heading">Chatterbox</div>
      <div class="panel-body">
        <div class="panel-body-content">
          <% @users.each_with_index do |user, i| %>
          <div class="panel-body-item">
            <div><%= i + 1 %>. </div>
            <div><%= link_to user.name, user_path(user) %></div>
            <div><span class="badge" ><%= user.replies_count %></span></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Most Popular Post</div>
      <div class="panel-body">
        <div class="panel-body-content">
          <% @posts.each_with_index do |post, i| %>
            <div class="panel-body-item">
              <div><%= i + 1 %>.</div> 
              <div><%= link_to post.title, post_path(post) %>
              </div>
              <div><span class="badge"><%= post.replies_count %></span></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </dir>
</div>