<div class="container">
  <div class="user-form form-group">
    <%= form_for @user do |f| %>
      <%= f.text_field :name, placeholder: 'Name', required: true, class: "form-control" %>
      <%= f.text_area :intro, placeholder: 'Introduce yourself', required: true, class: "form-control" %>
      <%= f.label :avatar, 'Avatar' %>
      <%= image_tag(@user.avatar, {style: "width: 300px"}) if @user.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.submit 'Update', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>