<div class="container">
  <div class="user-profile-panel">
    <div class="user-item">
      <div class="avatar-sm">
        <%= image_tag(@user.avatar) %>
      </div>
      <%= @user.name %>
    </div>
    <div class="user-intro">
      <%= @user.intro %>
      <% if @user == current_user %>
        <%= link_to 'Edit', edit_user_path(current_user) %>
      <% end %>
    </div>
  </div>
  <div class="user-pills-panel">
    <%= render partial: "shared/my_post", locals: {user: @user} %>
  </div>

</div>