<div class="container">
  <div class="user-profile-panel">
    <div id="user-<%= @user.id %>" class="user-item">
      <div class="avatar-sm">
        <%= image_tag(@user.avatar) %>
      </div>
      <%= @user.name %>
      <div class="friend-btn">
        <%= render partial: "shared/friend_btn", locals: {user: @user} %>
      </div>
    </div>
    <div class="user-intro">
      <%= @user.intro %>
    </div>
    <% if @user == current_user %>
      <%= link_to edit_user_path(current_user) do %>
        <button class="btn btn-primary btn-sm glyphicon glyphicon-pencil"></button>
      <% end %>
    <% end %>
  </div>
  <div class="user-pills-panel">
    <%= render partial: "shared/my_post", locals: {user: @user} %>
  </div>
</div>