<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'My Post', my_post_user_path(user), remote: true %></li>
  <li role="presentation" class="active"><%= link_to 'My Comment', my_comment_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Collect', my_collect_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Draft', my_draft_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Friend', my_friend_user_path(user), remote: true %></li>
</ul>
<div class="my-comment-panel">
  <% user.replies.each do |reply| %>
    <div class="my-comment-item">
      <div class="my-comment-content">
        <%= link_to reply.post.title, post_path(reply.post) %>
        <div>
          <%= reply.comment %>
        </div>
      </div>
      <div class="edit-delete-group">
        <% if reply.user == current_user %>
          <%= link_to 'delete', post_reply_path(@post, reply), method: :delete, data: {confirm: "Are you sure to delete this reply?"} %>
        <% end %>
      </div>
    </div>
  <% end %>  
</div>
