<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'My Post', my_post_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Comment', my_comment_user_path(user), remote: true %></li>
  <li role="presentation" class="active"><%= link_to 'My Collect', my_collect_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Draft', my_draft_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Friend', my_friend_user_path(user), remote: true %></li>
</ul>
<div class="user my-collect-panel">
  <table class="table table-striped table-hover table-borderless">
    <% user.favorited_posts.each do |post| %>
      <% if !post %>
        <em>There is no collected post.</em>
      <% else%>
        <tr>
          <td style="text-align: start;"><%= link_to post.title, post_path(post), style: "margin-left: 10px" %> <%= render partial: "shared/post_authority", locals: {post: post} %></td>
          <td>
            <div id="post-<%= post.id %>" class="collect-btn">
              <%= render partial: "shared/favorite_btn", locals: {post: post} %>
            </div>            
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>