<ul class="nav nav-tabs">
  <li role="presentation"><%= link_to 'My Post', my_post_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Comment', my_comment_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Collect', my_collect_user_path(user), remote: true %></li>
  <li role="presentation"><%= link_to 'My Draft', my_draft_user_path(user), remote: true %></li>
  <li role="presentation" class="active"><%= link_to 'My Friend', my_friend_user_path(user), remote: true %></li>
</ul>
<div class="user my-friend-panel">
  <div class="waiting-panel">
    <h5>Waiting for response</h5>
    <% current_user.send_applies.each do |user| %>
      <div class="post-user-item">
        <div class="avatar-sm">
          <%= link_to user_path(user) do %>
            <%= image_tag(user.avatar) %>
          <% end %>
        </div>
        <div>
          <%= user.name %>
        </div>
        <div>
          <%= link_to friendship_path(user), method: :delete, data: { confirm: "Are you sure to cancel the application?"}, remote: true do %> 
            <button class="btn btn-default">Cancel applying</button>
          <% end %>          
        </div>
      </div>
    <% end %>
  </div>
  <div class="accept-panel">
    <h5>accept-panel</h5>
    <% current_user.applyers.each do |user| %>
      <div class="post-user-item">
        <div class="avatar-sm">
          <%= link_to user_path(user) do %>
            <%= image_tag(user.avatar) %>
          <% end %>
        </div>
        <div>
          <%= user.name %>
        </div>
        <div>
          <%= link_to friendship_path(user), method: :patch, remote: true do %>
            <button class="btn btn-primary">Accept</button>
          <% end %>
          <%= link_to friendship_path(user), method: :delete, data: { confirm: "Are you sure to ignore the application?"}, remote: true do %> 
            <button class="btn btn-danger">Ignore</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="friend-panel">
    <h5>friend-panel</h5>
    <% (current_user.friends + current_user.applyer_friends).each do |user| %>
      <div class="post-user-item">
        <div class="avatar-sm">
          <%= link_to user_path(user) do %>
            <%= image_tag(user.avatar) %>
          <% end %>
        </div>
        <div>
          <%= user.name %>
        </div>
        <div>
          <%= link_to friendship_path(user), method: :delete, data: { confirm: "Are you sure to delete the friend?"}, remote: true do %> 
            <button class="btn btn-danger">Delete</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>