<div class="container">
  <h2>Legend Forum</h2>
  <div id="posts-panel">
    <div id="categories-panel">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to 'All', root_path %></li>
        <% @categories.each do |category| %>
          <li role="presentation"><%= link_to category.name, posts_path(category_id: category.id) %></a></li>
        <% end %>
      </ul>
    </div>
    <div id="post-table">
      <table class="table table-hover">
        <% if @category.present? %>
          <tr>
            <th><%= link_to 'Replies count', replies_count_posts_path(category_id: @category.id) %></th>
            <th>Title</th>
            <th><%= link_to 'Last replied at', last_replied_at_posts_path(category_id: @category.id) %></th>
            <th><%= link_to 'Viewed count', viewed_count_posts_path(category_id: @category.id) %></th>
          </tr>
        <% else %>
          <tr>
            <th><%= link_to 'Replies count', replies_count_posts_path %></th>
            <th>Title</th>
            <th><%= link_to 'Last replied at', last_replied_at_posts_path %></th>
            <th><%= link_to 'Viewed count', viewed_count_posts_path %></th>
          </tr>
        <% end %>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.replies_count %></td>
            <td>
              <%= link_to post.title, post_path(post) %> (<%= post.authority %>)
            </td>
            <td>
              <% if post.replies.present? %>
                <%= post.replies.last.created_at.strftime("%Y-%m-%d %H:%M") %>
              <% else %>
                -
              <% end %>
            </td>
            <td><%= post.views_count %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="paginate">
      <%= paginate @posts %>
    </div>
  </div>
</div>
