<div class="container">
  <div class="post-title">
    <h1><%= @post.title %></h1>
    <div class="collect-btn">
      <%= render partial: "shared/favorite_btn", locals: {post: @post} %>
    </div>
  </div>
  <div class="post-panel">
    <div id="user-<%= @user.id %>" class="post-user-item">
      <div class="avatar-sm">
        <%= link_to user_path(@user) do %>
          <%= image_tag(@user.avatar) %>
        <% end %>
      </div>
      <div>
        <%= @user.name %>
      </div>
      <div class="friend-btn">
        <%= render partial: "shared/friend_btn", locals: {user: @user} %>
      </div>
    </div>
    <div class="post-content-item">
      <div>
        <% if @post.picture.present? %>
          <%= image_tag(@post.picture) %>
        <% end %>
        <%= @post.content %>
      </div>
    </div>
    <div class="edit-delete-group">
      <% if @user == current_user %>
        <%= link_to 'edit', edit_post_path(@post) %>
        <%= link_to 'delete', post_path(@post), method: :delete, data: {confirm: "Are you sure to delete this post?"} %>
      <% end %>
    </div>
  </div>
  <% if @post.replies.present? %>
    <% @post.replies.each do |reply| %>
      <div class="reply-panel">
        <div id="user-<%= reply.user.id %>" class="reply-user-item">
          <div class="avatar-sm">
            <%= link_to user_path(reply.user) do %>
              <%= image_tag(reply.user.avatar) %>
            <% end %>
          </div>
          <div>
            <%= reply.user.name %>            
          </div>
          <div class="friend-btn">
            <%= render partial: "shared/friend_btn", locals: {user: reply.user} %>
          </div>
        </div>
        <div class="reply-content-item">
          <div>
            <%= reply.comment %>
          </div>
        </div>
        <div class="edit-delete-group">
          <% if reply.user == current_user %>
            <%= link_to 'delete', post_reply_path(@post, reply), method: :delete, data: {confirm: "Are you sure to delete this reply?"} %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= form_for [@post, @reply] do |f| %>
    <div class="reply-form form-group">
      <div>
        <%= f.text_area :comment, placeholder: "Reply something...", maxlength: 140, class: "form-control"%>
      </div>
      <%= f.submit 'Reply', class: "btn btn-primary pull-right" %>
    </div> 
  <% end %>
</div>



