<div class="container">
  <div class="post-title">
    <h1><%= @post.title %> <%= render partial: "shared/post_authority", locals: {post: @post} %>
      <div class="collect-btn pull-right">
        <%= render partial: "shared/favorite_btn", locals: {post: @post} %>
      </div>
    </h1> 
  </div>
  <div class="post-panel">
    <div id="user-<%= @user.id %>" class="post-user-item">
      <div class="avatar-sm">
        <%= link_to user_path(@user) do %>
          <%= image_tag(@user.avatar) %>
        <% end %>
      </div>
      <div>
        <%= @user.name %>
      </div>
      <div class="friend-btn">
        <%= render partial: "shared/friend_btn", locals: {user: @user} %>
      </div>
    </div>
    <div class="post-content-item">
      <div>
        <% if @post.picture.present? %>
        <div class="post-img">
          <%= image_tag(@post.picture) %>
        </div>
        <% end %>
        <%= @post.content %>
      </div>
    </div>
    <div class="edit-delete-group">
      <% if @user == current_user %>
        <%= link_to edit_post_path(@post) do %>
          <button class="btn btn-primary btn-sm">Edit</button>
        <% end %>
      <% end %>
      <% if @user == current_user or current_user.role == 'admin'  %>
        <%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure to delete this post?"} do %>
          <button class="btn btn-danger btn-sm">Delete</button>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @replies.present? %>
    <% @replies.each do |reply| %>
      <div id="reply-<%= reply.id %>" class="reply-panel">
        <div id="user-<%= reply.user.id %>" class="reply-user-item">
          <div class="avatar-sm">
            <%= link_to user_path(reply.user) do %>
              <%= image_tag(reply.user.avatar) %>
            <% end %>
          </div>
          <div>
            <%= reply.user.name %>            
          </div>
          <div class="friend-btn">
            <%= render partial: "shared/friend_btn", locals: {user: reply.user} %>
          </div>
        </div>
        <div class="reply-content-item">
          <%= render partial: "shared/reply_comment", locals: {reply: reply} %>
        </div>
        <div class="reply-edit-form">
          <%= form_for [@post, reply], remote: true do |f| %>
            <div class="form-group">
              <div>
                <%= f.text_area :comment, maxlength: 140, class: "form-control"%>
              </div>
            </div>
            <button type="button" class="btn btn-danger btn-sm reply-cancel-btn">Cancel</button>
            <%= f.submit 'Update', remote: true, class: "btn btn-primary btn-sm" %> 
          <% end %>
        </div>
        <div class="edit-delete-group">
          <% if reply.user == current_user %>
            <button class="btn btn-primary btn-sm reply-edit-btn">edit</button>
          <% end %>
          <% if reply.user == current_user or current_user.role == 'admin' %>
            <%= link_to post_reply_path(@post, reply), method: :delete, data: {confirm: "Are you sure to delete this reply?"} do %>
              <button class="btn btn-danger btn-sm">Delete</button>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="reply-form-panel">
    <%= form_for [@post, @reply] do |f| %>
      <div class="reply-form form-group">
        <div>
          <%= f.text_area :comment, placeholder: "Reply something...", maxlength: 140, class: "form-control"%>
        </div>
        <%= f.submit 'Reply', class: "btn btn-primary pull-right" %>
      </div> 
    <% end %>
  </div>  
  <div class="paginate">
    <%= paginate @replies %>
  </div>
</div>



