<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav>
        <div class="container">
          <div id="nav">
            <div class="logo">
              <%= link_to 'Legend Forum', root_path %>
            </div>
            <div>
              <%= link_to 'All Post', root_path %>
            </div>
            <div>
              <%= link_to 'Feeds', feeds_path %>
            </div>
            <div>
              <%= link_to 'New Post', new_post_path %>
            </div>
            <div class="menu">
              <% if current_user.present? %>
                <li>
                  <%= current_user.email %>
                  <% if current_user.role == "admin" %>
                  (Admin)
                  <% end %>    
                </li>
                <li><%= link_to 'Profile', user_path(current_user) %></li>
                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Log in', new_user_session_path%></li>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div id="top" class="alert-row">
      <% if flash[:notice] %>
        <div class="notice alert alert-success" role="alert">
          <div class="container">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            <div class="text-center">
              <%= flash[:notice] %>
            </div>
          </div>
        </div>
      <% elsif flash[:alert]%> 
        <div class="alert alert-danger" role="alert">
          <div class="container">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</button>
            <div class="text-center">
              <%= flash[:alert] %>
            </div>
          </div>
        </div>               
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
